@* @page
@model Chalkboardchat.Pages.Member.DetailsModel
@{
} *@


@page
@using Microsoft.AspNetCore.Identity
@model Chalkboardchat.Pages.Member.DetailsModel
@inject UserManager<IdentityUser> UserManager
@{
}

<h1>Ändra dina uppgifter</h1>

<form method="post">
    <div>
        <label for="username">Användarnamn:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Lösenord:</label>
        <input type="password" id="password" name="password" />
    </div>
    <button type="submit">Ändra</button>
</form>

<form method="post">
    <button type="submit" class="btn btn-danger" asp-page-handler="DeleteUser">Ta bort mitt konto</button>
</form>