@page
@model Chalkboardchat.Pages.Account.LoginModel
@{
}


<form method="post">
    <input type="text" placeholder="Username" asp-for="Username" />
    <input type="password" placeholder="Password" asp-for="Password" />

    <input type="submit" placeholder="Signin" />

</form>